In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

In [42]:
# Importing our data
data = pd.read_excel('table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls', 
                     encoding='latin1', skiprows=list(range(4)))

# Condense and clean our dataset
data = data.rename(index = str, columns={'Murder and\nnonnegligent\nmanslaughter': 'Murder', 'Property\ncrime': "Property_crime"})
propertycrime = data[['City', 'Population', 'Murder', 'Robbery', 'Property_crime']]
propertycrime = propertycrime.dropna()

# Drop outlier, New York
propertycrime = propertycrime.drop(propertycrime.index[216])

# Create the new rows for our regression model
propertycrime['Pop_squared'] = propertycrime['Population']**2

# Preview the data
propertycrime.head()

,City,Population,Murder,Robbery,Property_crime,Pop_squared
0,Adams Village,1861.000,0.000,0.000,12.000,3463321.000
1,Addison Town and Village,2577.000,0.000,0.000,24.000,6640929.000
2,Akron Village,2846.000,0.000,0.000,16.000,8099716.000
3,Albany,97956.000,8.000,227.000,4090.000,9595377936.000
4,Albion Village,6388.000,0.000,4.000,223.000,40806544.000

In [49]:
regr = linear_model.LinearRegression()
X = propertycrime[['Population', 'Murder', 'Robbery']]
Y = propertycrime['Property_crime'].values.reshape(-1, 1)
regr.fit(X, Y)

# Inspect the results.
print('\nCoefficients: \n', regr.coef_)
print('\nIntercept: \n', regr.intercept_)
print('\nR-squared:')
print(regr.score(X, Y))

Coefficients:
 [[1.58354338e-02 1.18437047e+02 2.02472175e+00]]

Intercept:
 [25.21793454]

R-squared:
0.9305586206386044

In [50]:
correlation_matrix = X.corr()
display(correlation_matrix)

            Population  Murder  Robbery
Population       1.000   0.756    0.816
Murder           0.756   1.000    0.963
Robbery          0.816   0.963    1.000