In [1]:
# Necessary imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.DataFrame(columns= ['Cluster method', 'Accuracy'])

In [3]:
data

Empty DataFrame
Columns: [Cluster method, Accuracy]
Index: []

In [6]:
data.append('nova', 54)

TypeError: cannot concatenate object of type "<class 'str'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

In [2]:
ar = [1,2, 6, 10]

In [11]:
def simpleArraySum(ar):
    sum=0
    for i in range(len(ar)):
        sum = sum + ar[i]
    return(sum)

In [12]:
simpleArraySum(ar)

19

In [6]:
len(ar)

4

In [13]:
a = [17,28,30]
b = [99, 16, 8]

In [17]:
def compareTriplets(a, b):
    comparison = [0,0]
    for i in range(len(a)):
        if a[i]>b[i]:
            comparison[0]+=1
        elif a[i]<b[i]:
            comparison[1]+=1
    return(comparison)

In [18]:
compareTriplets(a, b)

[2, 1]

In [46]:
arr = [[11, 2, 4, 6], [4, 5, 6, 6], [10, 8, -12, 9], [1, 5, 9, 13]]

In [27]:
arr[1][1]

5

In [30]:
def diagonalDifference(arr):
    primary = 0
    secondary = 0
    for i in range(len(arr)):
        primary += arr[i][i]
        secondary += arr[i][len(arr)-i-1]
    return(primary-secondary)

In [31]:
diagonalDifference(arr)

-15

In [47]:
primary = 0
secondary = 0
for i in range(len(arr)):
    print(arr[i][i])
    primary += arr[i][i]
    print(arr[i][len(arr)-i-1])
    secondary += arr[i][len(arr)-i-1]
    print()
print(secondary)
print(primary)

11
6

5
6

-12
8

13
1

21
17

In [48]:
arr = [-4, 3, -9, 0, 4, 1]

In [61]:
def plusMinus(arr):
    ratios = [0,0,0]
    for i in range(len(arr)):
        if arr[i] > 0:
            ratios[0]+=1
        elif arr[i] < 0:
            ratios[1]+=1
        else:
            ratios[2]+=1
    for i in range(len(ratios)):
        print(ratios[i]/len(arr))

In [62]:
plusMinus(arr)

0.5
0.3333333333333333
0.16666666666666666

### Staircase

In [74]:
def staircase(n):
    for i in range(n):
        print(' ' * (n-i-1) + '#'*(i+1))

In [75]:
staircase(5)

    #
   ##
  ###
 ####
#####

### Mini-max sum

In [87]:
arr = [1,2,3,4,5]

In [95]:
arr = [7,69,2,221,8974]

In [98]:
def miniMaxSum(arr):
    arr.sort()
    min = 0
    max = 0
    for i in range(len(arr)-1):
        min += arr[i]
        max += arr[i+1]
    return(min, max)

In [99]:
miniMaxSum(arr)

(299, 9271)

### Birthday Cake Candles

In [11]:
ar = [3,2,1,3]

In [26]:
def birthdayCakeCandles(ar):
    ar.sort(reverse=True)
    i=0
    count = 0
    while ar[i] == ar[0]:
        count +=1
        i+=1
    return(count)

In [24]:
def birthdayCakeCandles(ar):
    ar.sort(reverse=True)
    i=0
    count = 0
    print(ar)
    while ar[i] == ar[0]:
        print(i)
        i+=1

In [28]:
len(ar)

4

In [27]:
birthdayCakeCandles(ar)

2

In [32]:
s = '12:05:45PM'

In [40]:
def timeConversion(s):
    if s[8:10]=='PM' and int(s[0:2])!=12 :
        return(str(int(s[0:2])+12)+s[2:-2])
    elif s[8:10]=='PM': 
        return('12'+s[2:-2])
    elif s[0:2] == '12':
        return('00'+s[2:-2])
    else:
        return(s[0:8])

In [41]:
timeConversion(s)

'12:05:45'

In [148]:
int(s[0:2])+12

19

In [151]:
str(int(s[0:2])+12)+s[2:-2]

'19:05:45'

In [154]:
s[8:10]

'PM'

In [155]:
s[0:8]

'07:05:45'

### Grading Students

In [1]:
grades = [73,67,38,33]

In [67]:
def gradingStudents(grades):
    for i in range(len(grades)):
        if grades[i] > 35 and grades[i] % 5 == 4:
            grades[i] +=1
        elif grades[i] > 35 and grades[i] % 5 == 3:
            grades[i] +=2
    return(grades)

In [68]:
gradingStudents([73,67,40,33])

[75, 67, 40, 33]

### Kangaroo

In [76]:
x1 = 21
v1 = 6
x2 = 47
v2 = 3

In [79]:
def kangaroo(x1, v1, x2, v2):
    if x1 > x2 and v1 > v2:
        return("NO")
    elif x1 < x2 and v1 < v2:
        return("NO")
    elif x1 == x2 and v1 != v2:
        return("NO")
    elif x1 != x2 and v1 == v2:
        return("NO")
    elif (x2-x1) % (v1-v2) != 0:
        return("NO")
    else:
        return("YES")

In [78]:
kangaroo(x1, v1, x2, v2)

'NO'

### Between Two Sets

In [80]:
a = [2,4]
b = [16,32,96]

In [84]:
def getTotalX(a, b):
    count = 0
    for i in range(a[-1], b[0]+1, a[-1]):
        if b[0] % i == 
    while n < b[0]:

In [85]:
getTotalX(a, b)

4
8
12
16

### Breaking the Records

In [89]:
scores = [3,4,21,36,10,28,35,5,24,42]

In [97]:
def breakingRecords(scores):
    min_score = scores[0]
    max_score = scores[0]
    min_count = 0
    max_count = 0
    for i in range(1, len(scores)):
        if scores[i] < min_score:
            min_score = scores[i]
            min_count +=1
        elif scores[i] > max_score:
            max_score = scores[i]
            max_count +=1
    return(max_count, min_count)

In [96]:
breakingRecords(scores)

(0, 4)

### Birthday Chocolate

In [98]:
s = [1,2,1,3,2]
d = 3
m = 2

In [ ]:
def birthday(s, d, m):
    count = 0
    for i in range(len(s)):
        for j in range(i+1, len(s)):
            if

In [44]:
# Palindrome Test

string1 = 'tacocat'
string2 = 'not a palindrome'

def palindrome_test(string):
    if string == string[::-1]:
        return('Yes')
    else:
        return('No')
    
print(palindrome_test(string1), '\n', palindrome_test(string2))

def reverse(string):
    return(string[::-1])

print(reverse(string1), '\n', reverse(string2))

Yes
 No
tacocat
 emordnilap a ton

# Divisible Sum Pairs

In [81]:
n = 6
k = 3
ar = [1,3,2,6,1,2]

In [144]:
def divisibleSumPairs(n, k, ar):
    ar.sort(reverse=True)
    # List where i > j
    pair_list = []
    # count where divisible by k
    count = 0
    for i in range(len(ar)):
        for j in range(i+1, len(ar)):
            if ar[i] > ar[j]:
                pair_list.append(ar[i]+ar[j])
                
    for number in pair_list:
        print(number)
        if number % k == 0:
            print(number)
            count += 1
    return(count)

In [145]:
divisibleSumPairs(n, k, ar)

9
9
8
8
7
7
5
5
4
4
3
3
3
3
3
3
3
3

([9, 8, 8, 7, 7, 5, 5, 4, 4, 3, 3, 3, 3], 5)

In [146]:
n = 100
k = 22

ar = [43 95 51 55 40 86 65 81 51 20 47 50 65 53 23 78 75 75 47 73 25 27 14 8 26 58 95 28 3 23 48 69 26 
      3 73 52 34 7 40 33 56 98 71 29 70 71 28 12 18 49 19 25 2 18 15 41 51 42 46 19 98 56 54 98 72 25 
      16 49 34 99 48 93 64 44 50 91 44 17 63 27 3 65 75 19 68 30 43 37 72 54 82 92 37 52 72 62 3 88 82 71]

SyntaxError: invalid syntax (<ipython-input-146-ecace79ece0a>, line 4)

In [3]:
ar = open('input06.txt', "r")

In [5]:
ar.read()

''